body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.productPage {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: calc(100vh - 60px);
    width: 60%;
    margin: 0 auto;
    padding: 0px;
    border: 2px solid #808080;
    box-sizing: border-box;
}

.auto-info {
    border: 2px solid #808080;
}


.links {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px; 
    padding: 10px;
}

.product-image {
    width: 100%;
    max-width: 400px; 
    height: auto;
    margin: 10px;

}


.rechts {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    gap: 10px; 
    padding: 10px;
}

    .links h1 {
        font-size: 24px;
        margin: 0;
    }

    .rechts h1{
        font-size: 24px;
        color: #666;
        margin: 0;
    }
    .rechts h2 {
        font-size: 18px;
        color: #666;
        margin: 0;
    }


.auto-info {
    padding: 10px;
    border: 2px solid #808080;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    background-color: #f9f9f9;
}

.date-picker-container {
    display: flex;
    flex-direction: column; /* Zet de inhoud onder elkaar */
    gap: 15px; /* Ruimte tussen de elementen */
    width: 100%; /* Zorgt ervoor dat de breedte gelijk is aan de container */
    margin-top: 20px; /* Ruimte boven de DatePickers */
}
    .date-picker-container button {
        
    }

